*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 100%;
    height: auto;
}
.main{
    height: 750px;
    width: 100%;
    margin: 0 auto;
    background-image: url(./img/IN-en-20251110-TRIFECTA-perspective_46e74acc-70aa-4691-988a-dbcf958149d1_large.jpg);
    background-size: cover;
  background-position: center;

}
#main-nav{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#main-ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
#main-ul-li-1{
    font-size: x-large;
    color: white;
    font-weight: bolder;
}
#main-nav-btn{
 padding: 7px 20px;
 border: none;
 border-radius: 5px;
 background-color: red;
 color: white;
 font-weight: bold;
}

#main-content-img{
    width: 100%;
    height: 730px;
    margin: 0 auto;
}
.main-content-1{
    width: 100%;
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
}
#main-content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-h1{
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 105px;
    font-weight: bolder;
}
#main-para1{
    margin-top: 25px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
#main-para2{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bolder;
}
#main-inside{
    display: flex;
    margin-top: 20px;
}
#main-input{
/* padding: 16px 135px; */
width: 460px;
height: 50px;
border: 1px solid white;
border-radius: 5px;
background: transparent;
color: white;
}
#main-btn1{
padding: 7px 90px;
 border: none;
 border-radius: 5px;
 background-color: red;
 color: white;
 font-weight: bold;
}
.main-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
#main-para3{
    margin-top: 30px;
    margin-left: 25px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
.main-3{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 55px;
}
.main-item-h1{
  color: rgb(155, 131, 131);
  font-size: 155px;
  position: relative;
  bottom: 100px;
  
}
.card{
    background-color: aqua;
    height: 200px;
    border-radius: 10px;

}
.card-para{
    font-weight: bolder;
    margin-left: 30px;
    font-size: x-large;
    margin-top: 20px;
}
.card-para1{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#card-img{
    background-color: black;
    margin-top: 40px;
    margin-left: 210px;
    border-radius: 10px;
}


/*  */
.main-three {
  margin: 0 auto;
  margin-top: 3em;
  width: 90%;
}

.box-main-heading {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.boxes {
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;

}

.box {
  margin-top: 2em;
  border: 1px solid gray;
  display: flex;
  padding: 10px;
  height: 200px;
  width: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(49, 42, 54);

  /* gap: 10px; */
}

.box-headnig {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 1em;
}

.box-content {
  font-size: 14px;
  color: gray;
}

.questions-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 3em;
}

.q-heading {
  font-size: 35px;
  font-weight: 700;
  color: white;

}

.q-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  margin-top: 2em;
}

.q {
  display: flex;
  justify-content: space-between;
  background-color: rgb(107, 106, 106);
  gap: 20px;
  height: 30px;
  align-items: center;
  padding: 10px;
}

.plus {
  font-size: 25px;
}

.last-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  height: 200px;
  justify-content: center;
}

.last-content {
  text-align: center;
  color: white  ;
}
.last-two{
  display: flex;
  margin-top: 30px;

}

.last-content input {
  width: 70%;
  background: transparent;
  border: outset;
  height: 30px;
  color: white;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid white;
}
.header-btn{
  padding: 5px 15px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}