* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.dairy-footer {
  background: #3c433f;
  color: #ecfdf5;
  padding: 40px 20px 20px;
  
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* SECTIONS */
.footer-section h2,
.footer-section h3 {
  margin-bottom: 12px;
  color: #bbf7d0;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section ul li:hover {
  color: #22c55e;
}

/* BOTTOM */
.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #d1fae5;
  border-top: 1px solid #22c55e;
  padding-top: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
