* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: "MiSans" , sans-serif;
}

header {
    margin: 0 auto;
    width: 100%;
    align-items: center;

}

.navbar {
    width: 100%;
    height: 50px;
    padding: 35px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    align-content: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nav-logo {
    height: 30px;
    width: 30px;
}
.right-navbar {
    display: flex;
    width: 30%;
    gap: 40px;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;

}
.left-navbar {
    display: flex;
    width: 70%;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}
.section1{
    width: 100%;
    margin: 0 auto;
}
.main{
   width: 90%;
   margin: 0 auto;
   /* background-color: antiquewhite; */
}
.section1-contant{
    width: 40%;
    margin: 0 auto;
    /* background-color: aqua; */
}
#section1-h1{
    font-size: 25px;
    width: 40%;
    margin: 0 auto;
    
}
.section1-li{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.section1-img{
    width: 100%;
    background-color: rgb(202, 202, 153);
    padding: 25px;
}
.section1-main{
    width: 97%;
    margin:0 auto ;
    display: flex;
    background-color: aquamarine;
}
.section1-img-one{
    width: 50%;
}
.main-img-sec{
    background-image: url(./img/contant2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}
.img-section{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.img-section-para{
    width: 50%;
    color: white;
    flex-wrap: wrap;
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
}




@media only screen and (max-width: 500px) {
    .navbar {
        height: auto;
        width: fit-content;
        margin-top: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }



}